/*----------------------  CARRINHO  -----------------------*/

.title-ribbon{
	width:100%;
	height:auo;
	padding:20px 0;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin-bottom:20px;
	background-color:#162961;
	border-radius:8px;
}

.table{
	font-size:12px;
	padding:20px;
	
	border-radius:8px;
	border:thin;
	border-color:#CCC;
	border-style:solid;
	border-width:1px;
}

tr{
	display:block;
	border-bottom:thin;
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

.td-cart{
	height: auto !important;
	vertical-align: middle;
}

.td-cart .delete:hover{
	-webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

.td-cart-qtd{
	width:50px;
	height: auto !important;
	display: block;
	padding: 6px 1px 6px 3px !important;
	/* margin: 0 !important; */
	font-size: 14px;

	vertical-align: middle;
	border-bottom:thin;
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

.frete_bt{
	margin:0 6px;
	padding:10px;
	display:inline-block;
	appearance:button;
	background-color:#162961;
	color:#fff;
	border-radius:7px;
}

.frete_bt:hover{
	background-color: #FDB913;
}



.form-select{
	height:37px !important; 
	margin-bottom:0 !important;
}

#valor_total{
	width: 100%;
	text-align: center;
	margin:0 10px 0 10px;
	display:inline-block;
	font-size:16px;
	vertical-align: middle;
}

#valor_total_reais{
	display:inline-block;
	font-weight:700;
	font-size:24px;
	vertical-align:bottom;
}

.prazo{
	margin-left:5px;
	font-size:13px;
	font-weight:500;
}

#bt_atualizar{
	width:223px;
	height:29px;
	margin-top:12px;
	border:none;
}

.total_fim{
	margin-left:10px;
}

button{
	background-color:#0CF;
	color:#FFF;
	width:90px;
	height:30px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
 	border-radius:10px;
	
	-moz-border-width:0;
	-webkit-border-width:0;
	border-width:0;
}


#submit{
	width:100px;
	height:40px;
	text-align:center;
	background-color:#333;
	color:#FFF;
}

#submit_carrinho{
	width: auto;
    height: auto;
    margin: -10px 0 25px 0 !important;
	border:none !important;
	padding: 15px 30px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
}

#submit_carrinho:hover{
	background-color:#0C6;
	border:none !important;
}

#submit2{
	width:100%;
	height:auto;
	padding:15px 10px;
	text-align:center;
	background-color:#111;
	font-size:16px;
	color:#FFF;
	border-radius:8px;
}


#box_orcamento_esq input, #box_orcamento_dir input{
	margin: 5px 0;
	text-align:left;
	border:none !important;
}

#box_orcamento_esq select, #box_orcamento_dir select{
    height: 35px;
    padding: 0 20px;
    margin-bottom: 15px;
    border: dotted;
    border-color: #666;
    border-style: solid;
    border-width: thin;
    border-radius: 12px;
    color: #666;
    font-size: 12px;
	border:none !important;
}

#box_orcamento_esq{
	width:440px;
	height:auto;
	display:inline-block;
}

#dados_usuario{
	display: none;
}

#box_orcamento_dir{
	width:440px;
	height:auto;
	display:inline-block;
}

input, select{
	color:#333;
	height:auto;
	text-align:left;
	padding-left:10px;
	font-size:13px;
	
 	border-radius:8px;
}

.input2, .select2{
	width:100%;
	color:#333;
	height:35px;
	text-align:left;
	margin:10px 0;
	padding-left:10px;
	font-size:14px;
	
 	border-radius:8px;
	border:solid;
	border-style:solid;
	border-width:thin;
	border-color:#ddd;
}


.qtd{
	width:70px;
	height:30px;
}
