@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,700i,900');

body{
  margin:0;
  padding:0;
  top:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color:none;
  color:#666;
  font-size: 16px;
}

@-webkit-keyframes slidein {
  0% { margin-bottom: -120px; opacity: 0;}
  100% { margin-bottom: 0;  opacity: 1;}
}

@-webkit-keyframes slideintop {
  0% { margin-top: -100px; opacity: 0;}
  100% { margin-top: -30px;  opacity: 1;}
}

.transition{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.logo{
  width: 85%;
}

a{
	text-decoration: none !important;
	-webkit-appearance: none;
	color: inherit;
}

.menu a{
  font-size: 0.7em;
  padding-left: 30px;
  font-weight: 700;
  color:  #fff;
}

.menu a:hover{
  color: #D71440;
}

.cursor-pointer{
  cursor: pointer;
}

@-webkit-keyframes zoomout {
  0% {transform: scale(1.1); opacity: 1;}
  100% {transform: scale(1);  opacity: 1;}
}

.footer{
  height: auto;
  background-color: #222;
  color: #fff;
}

.search{
  padding: 5px;
  margin: 10px 0 30px 0;
  border-radius: 8px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  cursor:pointer;
}

input[type=submit]{
  width: 40%;
  text-align: center;
  float: right;
  background-color:#D71440;
  color: #fff;
}

input[type=submit]:hover, .submit:hover{
  background-color:#4E4B6A;
}

.separator{
  width: 100%;
  height: 1px;
  margin: 20px 0 40px 0;
  border-bottom: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#userlogin{
  padding: 5px 5px 0 0;
  background-color: #ddd;
}

#userlogin form input{
  font-size: 0.7em;
  display: inline-block !important;
  text-align: center;
  padding: 3px;
  width: 200px;
  border-radius: 4px;
  align-content: flex-end;
  align-self: flex-end;
}
